*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #FFFAEB !important;
}
.h1-nav{
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    /* margin-bottom: 13px !important; */
}
.p-nav{
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #364153;
    margin-top: -7px !important;
}
.icon-nav{
    background-color: #FF540C;
}
.navbar{
    background-color: #FFFFFF !important;
    border: 1px solid rgba(128, 128, 128, 0.331);
    box-shadow: 5px 5px 4px rgba(128, 128, 128, 0.443);
}
.img-nav{
    width: 100%;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #FF540C;
}
.ii1{
    color: #364153;
    transition: all 0.3s ease;
}
.ii1:hover{
    color: #FF540C;
}
.text-bg-success{
background-color: #DBFCE7 !important;
font-size: 12px !important;
line-height: 16px;
font-weight: 600;
color: green !important;
border-radius: 40px !important;
}
.text-bg-primary{
    background-color: #DBEAFE !important;
font-size: 12px !important;
line-height: 16px;
font-weight: 600;
border-radius: 40px !important;
color:#1F50E7 !important;
}
.wrinning{
    height: 110px !important;
    border-left: 8px solid red !important;

}
.h4-alert{
    font-size: 16px !important;
    line-height: 24px !important;
    font-weight: 600;
}
.p-alert{
    font-size: 14px !important;
    line-height: 20px !important;
    font-weight: 400;
}
.bg-warning{
    background-color: #FFEDD4 !important;
    color: red !important;
}
.h6-conten{
    font-size: 16px !important;
    line-height: 24px !important;
    font-weight: 700;
    margin-top: -18px !important;
}
.p-conten{
    font-size: 14px !important;
    line-height: 20px !important;
    font-weight: 400;
        color:oklch(0.551 0.027 264.364);
}
.fa-clock{
    color: #FF540C;
}
.fa-fire-burner{
    color: red;
}
.fa-users{
    color: blue;
}
.con{
    background-color: #FFF9EC;
}
.span-con{
    background-color: #FF540C;
    color: white;
    width: 20px;
    height: 20px;
    border-radius: 50% !important;
    
}
.span-con1{
    background-color: #FF540C;
    color: white;
    width: 50px !important;
    height: 40px;
    border-radius: 10px !important;
    
}

/* //////////// */
.nav-tabs {
  border-bottom: 2px solid #e0e0e0; 
}

.nav-tabs .nav-link {
  background: none !important;
  border: none !important;
  color: #777; 
  font-weight: 500;
  position: relative;
  padding: 10px 15px;
  transition: color 0.3s ease;
}

.nav-tabs .nav-link::after {
  content: '';
  position: absolute;
  bottom: -2px; 
  left: 0;
  width: 0;
  height: 3px;
  background-color: #ff5722; 
  transition: width 0.3s ease;
}

.nav-tabs .nav-link:hover,
.nav-tabs .nav-link.active {
  color: #ff5722 !important; 
}

.nav-tabs .nav-link:hover::after,
.nav-tabs .nav-link.active::after {
  width: 90%; 
}
.number{
    font-size: 20px !important;
    line-height: 28px !important;
    font-weight: 700 !important;
}
.caliros{
    color: grey;
    font-size: 16px !important;
    line-height: 24px !important;
    font-weight: 500;
}
.bg-secondary{
    background-color: #FFEDD4 !important;
}
.innerr{
    background-color: #F9FAFB !important;
    border-radius: 20px !important;
}
.fa-dumbbell{
    background-color: rgba(25, 117, 179, 0.546) !important;
    color: blue;
}
.fa-wheat-awn{
    background-color: #FEF9C2;
    color: #D08700;
}
.fa-droplet{
    background-color: rgba(255, 0, 0, 0.185);
    color: red;
}
.fa-seedling{
    background-color: rgba(91, 194, 91, 0.363);
    color: green;
}
.fa-box{
    background-color: #FCE7F3;
    color: #E60076;
}
.fa-check{
    background-color: #E17100;
    color: white;
}
.chife{
    background-color: rgba(255, 255, 0, 0.105);
    padding: 16px 10px !important;
    border-left: 7px solid #FFB900;
}
.img-home{
    height: 700px !important;
}
.imgg{
    height: 700px !important;
    width: 100% !important;
}
.btn1{
    background-color: #FF4C1D;
    border: 1px solid #E17100 ;
}